<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Graphs</h1>

<!-- Example single danger button -->
<div class="btn-group">
  <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Query 1: How many contact requests are made per month?</a>
    <a class="dropdown-item" href="#">Query 2: How many quote solicitations are made per month?</a>
    <a class="dropdown-item" href="#">Query 3: How many elevators per customer do we have?</a>
  </div>
</div>